<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/styles/app.css" rel="stylesheet" />
    <link href="/public/favicon.ico" rel="icon" />
    <title>{{title}}</title>
  </head>
  <body class="bg-black text-white">
    <header class=""></header>
    <main class="p-4 container mx-auto">
      {% block content %}
      <p>Placeholder content</p>
      {% endblock %}
    </main>
  </body>
</html>
