{% extends "layouts/base.html" %}

<!-- Content -->
{% block content %}
<div class="w-full h-full flex flex-row items-center justify-center mt-20">
  <div
    class="p-4 rounded-md shadow-lg border border-gray-300/20 w-[min(400px,100%)] lg:min-w-[600px] space-y-3"
  >
    <h4 class="font-mono font-bold text-lg">Login</h4>

    <button
      class="w-full p-4 rounded-lg border border-gray-400/50 hover:bg-black/20 flex flex-row items-center gap-4"
    >
      <img
        alt="Google Logo"
        src="/public/images/google-logo.png"
        width="32px"
        height="32px"
      />
      <span>Login with Google</span>
    </button>
  </div>
</div>
{% endblock %}
